################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rush/FileContentIndex/01319102-18ba-4ed0-809a-a89d8d0bfca1.vsidx
/.vs/rush/FileContentIndex/306b1e60-81de-4012-8969-0e52a62a4b68.vsidx
/.vs/rush/FileContentIndex/33e73d08-2946-4a34-915c-ed849c91dee5.vsidx
/.vs/rush/FileContentIndex/1c099cab-57ae-4bf5-b673-62c1db9c49ea.vsidx
/.vs/rush/FileContentIndex/7e2b6857-a3d6-4600-b2a2-9c20de1fcba6.vsidx
/.vs/rush/FileContentIndex/9a2b792f-302a-4220-a817-27345e6447fd.vsidx
/.vs/rush/FileContentIndex/d50c261b-123c-4296-a3ac-05f412657980.vsidx
/.vs/rush/FileContentIndex/9e491138-3bc7-4a08-93b4-c06408f2dda9.vsidx
/.vs/rush/FileContentIndex/c11c29d9-2d3b-4bbb-8190-885cbcf8219c.vsidx
/.vs/rush/FileContentIndex/57051568-5cb2-418b-81e4-82ab0cb36f16.vsidx
